@require '~elements/input-line'
@require '~elements/button-round'

.wrapper.contact-form
  background-color: $color__white

  .form-title
    color: $color__denium
    font-size: 18px
    font-weight: 500
    padding-top: 48px
    padding-bottom: 16px

  .contact-form
    text-align: center

    .groups-input-form
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 24px
      padding-bottom: 48px

    .google-recapcha
      text-align: center
      margin: auto
      padding-bottom: 25px
      max-width: 300px
