.wrapper-contact-form
  background-color: white
  border-bottom-color: #b3b3b3
  border-bottom-style: solid
  border-bottom-width: thin

  .content-form
    max-width: 950px
    margin: auto
    margin-top: 30px

    .title-form
      color: #074071
      font-size: 18px
      font-weight: 500
      padding-left: 48px
      padding-top: 48px
      padding-bottom: 16px

    .contact-form
      padding-top: 24px
      padding-left: 48px
      padding-bottom: 24px
      text-align: center

      .groups-input-form
        display: grid
        grid-template-columns: 2fr 2fr
        grid-gap: 24px
        padding-bottom: 24px

.input-line
  width: 100%
  background: none
  border: none
  border-bottom: 1px solid #ebebeb
  display: block
  appearance: none
  border-radius: 0
  outline: none
  line-height: 40px
  height: 40px
  overflow: hidden

  &::placeholder
    color: #111111

.send-button
  border: none
  width: 98px
  background: #074071
  color: #fff
  cursor: pointer
  border-radius: 40px
  height: 32px
