/* http://chir.ag/projects/name-that-color
   Being a typical guy, I have no clue what the colors Lavender and Mauve look like. You can show me Indigo and I won't know if it's more like Violet or Purple. So I made this little app where you can create a color on the screen (or copy-paste CSS hex# color) and find out the name of the closest matching color.
*/

$color__cornflower-blue=#1268b3
$color__gallery=#ebebeb
$color__catalina-blue=#074071
$color__denium=#1268b3
$color__cod-gray=#111111
$color__dove-gray=#6c6c6c
$color__white=#ffffff
