body
  background-color: $color__gallery
  min-width: 1150px

.wrapper
  max-width: 1920px
  margin: auto

  .wrapper-content
    min-width: 1150px
    padding: 8px
    margin: auto
    margin-top: 30px

img {
   height: auto
   width:100%
}
