body
  background-color: $color__gallery

  @media screen and (max-width: 1152px)
    display: inline-block

.wrapper
  & > .content
    width: 1152px
    padding: 48px 8px 24px
    margin: auto

    &.small
      width: 960px

      .logo
        max-width: 250px
        margin: auto
    &.x-small
      width: 640px

    &.over-cloud
      position: absolute
      transform: rotate(-0.2deg)
      min-width: 1150px
      max-height: 500px
      min-height: 500px
      background-image: url(/img/cloud-over.svg)
      background-repeat: no-repeat
      background-position-x: center
      background-position-y: center
      width: 100%
      margin-top: -230px
      margin-left: -30px

    &.under-cloud
      transform: rotate(-0.2deg)
      min-width: 1150px
      min-height: 500px
      max-height: 500px
      background-image: url(/img/cloud-under.svg)
      background-repeat: no-repeat
      background-position-x: center
      background-position-y: center
      width: 100%
      margin-top: -130px
      margin-left: 40px
img
   max-width: 100%

   &.full-width
     width: 100%
