@require '~elements/side-bar-index'

body
  background-color: $color__gallery

  @media screen and (max-width: 1152px)
    display: inline-block

.wrapper
  & > .content
    width: 1152px
    padding: 48px 8px 24px
    margin: auto

    &.small
      width: 960px

    &.x-small
      width: 640px

img
   max-width: 100%

   &.full-width
     width: 100%

.document
  transform: translateX(256px)
  margin-left: 40px
  max-width: 1600px
  min-width: 1150px
  overflow: hidden

  .document-content
    padding-top: 16px
    padding-left: 48px
    min-width: 480px
    margin: auto

    .document-block-title
      padding-bottom: 24px

      .document-title-content
        padding-top: 30px
        padding-bottom: 20px
        padding-left: 48px
        color: $color__catalina-blue

      .document-sub-title-content
        color: $color__cod-gray
        padding-left: 48px
        padding-top: 10px
  h1
    font-size: $font-size__h1

  h2
    font-size: $font-size__h2

  h3
    font-size: $font-size__h3
