@require '~typeface-maven-pro/index.css'
@require './color'

$font-size__h1=36px
$font-size__h2=24px
$font-size__h3=18px
$font-size__h4=14px
$font-size__body=12px

$line-height__h1=48px
$line-height__h2=40px
$line-height__h3=32px
$line-height__h4=24px
$line-height__body=24px

$text-color__primary=$color__cod-gray
$text-color__secondary=$color__dove-gray
$text-color__accent=$color__denium

html
  font-family: 'Maven Pro', sans-serif
  font-size: $font-size__body
  line-height: $line-height__body
  color: $text-color__primary
  text-size-adjust: 100%

  *
    font-family: inherit
    font-size: inherit
    line-height: inherit
    color: inherit

a
  color: $text-color__accent
  text-decoration: none

strong
  font-weight: 500

em
  font-style: italic
