.button-round
  border: none
  width: 96px
  background: $color__catalina-blue
  color: $color__white
  cursor: pointer
  border-radius: 32px
  height: 32px
  appearance: none
  outline: none

  &:hover
    transition: opacity .3s
    opacity: 0.8
