@require '~style/base'
.footer
  margin: auto
  max-width: 1150px
  .title-footer
    font-weight: 500
    font-size: 18px
    padding-bottom: 16px

  .content-footer
    display: grid
    grid-template-columns: 2fr 1fr
    grid-gap: 24px
    color: #6c6c6c
    padding-bottom: 24px

    .title-content-footer
      font-weight: 500
      font-size: 14px
      color: #1268b3
