.wrapper.last
  border-top: 1px solid $color__cornflower-blue

.footer-title
  font-weight: 500
  font-size: 18px
  padding-bottom: 16px

.footer
  display: grid
  grid-template-columns: 2fr 1fr
  grid-gap: 24px

  .contact-name, .contact-person
    font-weight: 500
    font-size: 14px
    color: $color__denium

  .content-footer
    display: grid
    padding-bottom: 24px

    .title-content-footer
      font-weight: 500
      font-size: 14px

  .copyright
    align-self: end
    justify-self: right
    white-space: nowrap
