@require '~style/base'
@require '~style/layout'
@require '~elements/contact-form'
@require '~elements/footer'
@require '~elements/header/index.styl'

.introduction
  display: grid
  margin: auto
  grid-template-columns: 1fr 1fr
  grid-gap: 24px
  color: #6c6c6c

  .title-content
    font-weight: 500
    font-size: 14px
    color: #111111
