@require '~style/reset'
@require '~style/typo'
@require '~elements/header'

body
  background-color: #ebebeb
a
  color: #1268b3
  text-decoration: none

.wrapper-content
  max-width: 950px
  margin: auto
  margin-top: 30px

  .introduction
    display: grid
    grid-template-columns: 2fr 2fr
    grid-gap: 15px
    color: #6c6c6c

    .title-content
      font-weight: 500
      font-size: 14px

.contact-form
  background-color: white
