@require '~style/base'
@require '~style/layout'
@require '~elements/footer'


.introduction
  display: grid
  margin: auto
  grid-template-columns: 1fr 1fr
  grid-gap: 24px
  color: #6c6c6c

  .title-content
    font-weight: 500
    font-size: 14px
    color: #111111
