@require '~style/base'
@require '~elements/circle-chart'
@require '~elements/contact-form'
@require '~elements/footer'
@require '~elements/header'
@require '~elements/report-tab'
@require '~elements/table-report'
@require '~elements/progress-bar'

.report
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 16px
  margin: auto

  &.content
    padding-top: 72px

.table-report
  position: relative
  background-color: $color__white
  border-radius: 16px
  padding: 16px

  .title-report
    text-align: center
    font-size: 24px
    font-weight: 500
    color: $color__dove-gray
    padding-top: 96px
    padding-bottom: 32px

  .score-report
    font-size: 26px
    position: absolute
    top: 0px
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

  .report-info
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 16px
    padding: 32px 0 16px

  .report-description
    text-align: center

#report-desktop
  display: none

.summary-domain
  text-align: center


  .audited-url
    font-size: 24px
    line-height: 40px
    padding-bottom: 24px
    color: #1268b3
    font-weight: 500
    overflow: hidden
    text-overflow: ellipsis

  .summary-description
    display: inline-block
    text-align: left

    .summary-message
      color: #6c6c6c

    .gauge-scale
      color: #6c6c6c

      .range::before
        content: ''
        width: 16px;
        height: 8px
        border-radius: 4px
        display: inline-block
        margin: 0px 8px

      .range.fast::before
        background-color: #178239

      .range.average::before
        background-color: #e67700

      .range.slow::before
        background-color: #c7221f

.progress-description
  font-size: $font-size__h3
  line-height: $line-height__h3
  padding-bottom: 8px
