.progress-bar
  border-radius: 60px
  overflow: hidden
  width: 100%

  span
    display: block

.bar
  background: rgba(0, 0, 0, 0.075)

.progress
  background: $color__catalina-blue
  color: #fff
  padding: 5px
  width: 0%
  border-radius: 10px

.progress-bar
  left: 50%
  max-width: 550px
  position: relative
  transform: translate3d(-50%, -50%, 0)
