.report-tab
  cursor: pointer
  padding-bottom: 14px

  .elements-tab
    padding: 16px
    font-size: 18px
    color: #111111

  .elements-tab-active
    padding: 16px
    font-size: 18px
    font-weight: 500
    border-bottom-color: white
    border-bottom-style: solid
    border-bottom-width: 2px
