.report-tab
  position: absolute
  padding: 8px
  bottom: 0
  width: 100%

  .elements-tab
    cursor: pointer
    padding: 4px 8px
    font-size: $font-size__h3
    color: white
    text-transform: uppercase
    font-weight: 500
    color: $text-color__secondary=$color__dove-gray

  .elements-tab-active
    padding: 4px 8px
    font-size: $font-size__h3
    font-weight: 500
    color: $color__cornflower-blue
    border-bottom-color: $color__cornflower-blue
    border-bottom-style: solid
    border-bottom-width: 2px
    text-transform: uppercase
    font-weight: 500
