.report-tab
  cursor: pointer
  position: relative
  padding-bottom: 16px
  margin-top: -295px
  z-index: 1
  background-color: #ffffff75

  .elements-tab
    padding: 8px
    font-size: $font-size__h3
    color: white
    text-transform: uppercase
    font-weight: 500
    color: $text-color__secondary=$color__dove-gray

  .elements-tab-active
    padding: 8px
    font-size: $font-size__h3
    font-weight: 500
    color: $color__cornflower-blue
    border-bottom-color: $color__cornflower-blue
    border-bottom-style: solid
    border-bottom-width: 2px
    text-transform: uppercase
    font-weight: 500
