@require '~style/base'
@require '~style/layout-admin'
@require '~elements/input-line'
@require '~elements/button-round'
@require '~elements/sidebar'

.dashboard
  color: red
  transform: translateX(256px)
  margin-left: 40px
